{
  "extends": [
    "wesbos",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["import"],
  "rules": {
    "react-hooks/exhaustive-deps": 0,
    "react/jsx-props-no-spreading": 0,
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "avoid",
        "trailingComma": "all",
        "singleQuote": true
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "packageDir": "./"
      }
    ],
    "jsx-a11y/control-has-associated-label": [ 2, {
        "ignoreElements": [
          "link"
        ]
      }
    ],
    "import/no-named-as-default": 0,
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "index",
          "parent",
          "sibling"
        ],
        "newlines-between": "always"
      }
    ],
    "no-unused-vars": ["error", { "varsIgnorePattern": "React|jsx|PropTypes" }]
  }
}
